* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(0, 140, 255);
}


.logo-header {
    padding: 15px 25px;
    background-color: white;
}


#logo-img {
    height: 80px;
    vertical-align: middle;
}


#logo-text {
    font-size: 70px;
    vertical-align: middle;
}


.white-bg {
    margin: 60px 200px ;
    background-color: white;
    border-radius: 1%;
}


#inside {
    display: inline-block;
    margin: 5px 30px 30px;
    font-family: 'Open Sans', sans-serif;

}


.buttons {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

#button-blue {
    margin: 10px 20px;
    background-color: rgb(0, 140, 255);
    border-style: hidden;
}

#button-white {
    border-color: grey;
}





.checkmark1::before {
    content: "\2713";
}


.checkmark2::before {
    display: inline-block;
    padding: 1px;
    border-style: solid;
    border-radius: 50%;
    content: "\2713";
    color: rgb(0, 255, 51);
    font-size: 10px;
}


.crossmark::before {
    display: inline-block;
    padding: 1px;
    border-style: solid;
    border-radius: 50%;
    content: "\2717";
    color: red;
    font-size: 10px;
}


.checkmark2 {
    display: inline-block;
    margin: 5px 0px;
}


.crosskmark {
    display: inline-block;
    margin: 5px 0px;
}


.tag {
    font-size: 10px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 15px;
    border-style: hidden;
    color: white;;
}

#editorial {
    background-color: rgb(0, 140, 255);
}
#q1 {
    background-color: rgb(200, 3, 254);
}
#recruiting {
    background-color: rgb(0, 255, 213);
}
#mobile {
    background-color: rgb(255, 153, 0);
}
#website {
    background-color: rgb(255, 0, 251);
}
#sales {
    background-color: yellowgreen;
}
